/* Header.css */

.navbar {
  background-color: #343a40;
}

/* header.css */

.navbar-brand {
  /* Adjusting alignment */
  margin-right: auto; /* Pushes navbar-brand to the start */
}

.navbar-nav {
  /* Adjusting alignment */
  margin-left: auto; /* Pushes navbar-nav to the end */
}

@media (max-width: 768px) {
  .navbar-nav {
    /* For smaller screens, reset margin to align items to start */
    margin-left: 0;
  }
}

.nav-link {
  color: white;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.nav-link svg {
  margin-right: 5px;
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
  background-color: transparent;
  transition: all 0.3s ease;
}

.btn-outline-danger:hover {
  color: white;
  background-color: #dc3545;
}
