/* General styling for responsiveness */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container for filters */
.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.filters div {
  margin-bottom: 10px;
}

.switch-icons {
  display: flex;
  align-items: center;
}

.active-icon {
  color: #1890ff;
}

.inactive-icon {
  color: #bfbfbf;
}

.logout-button {
  padding: 10px 20px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.logout-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.logout-button:hover {
  color: #e8e8e8;
}

.logout-button:hover::before {
  width: 100%;
}

.table {
  margin-top: 30px;
}

/* Footer styling */
.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .filters {
    flex-direction: column;
  }

  .switch-icons {
    margin-top: 10px;
  }
}
