/* .dashboard-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter {
  display: flex;
  align-items: center;
}

.switch-icons {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 20px;
  cursor: pointer;
} */

/* HomePage.css */

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filters div {
  margin-right: 20px;
}

.switch-icons {
  display: flex;
  align-items: center;
}

.switch-icons svg {
  cursor: pointer;
  margin: 0 8px;
}

.logout-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.logout-button:hover {
  color: #e8e8e8;
}

.logout-button:hover::before {
  width: 100%;
}
.bg-dark {
  background-color: #343a40;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
