/* Reset and global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ButtonStyles.css */
.logout-button {
  padding: 10px 20px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.logout-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.logout-button:hover {
  color: #e8e8e8;
}

.logout-button:hover::before {
  width: 100%;
}

/* Main content container */
.content {
  height: 100vh;
}

/* Register page specific styling */
.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

/* Filters section */
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
}

/* Switch icons */
.switch-icons {
  border: 1px solid rgba(0, 0, 0, 0.677);
  border-radius: 5px;
  padding: 10px 15px;
}

.anticon svg {
  font-size: 20px;
  cursor: pointer;
}

.active-icon {
  color: black;
}

.inactive-icon {
  color: gray;
}

/* Media query for smaller devices */
@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    align-items: flex-start;
  }

  .switch-icons {
    margin-top: 10px;
  }

  .logout-button {
    margin-top: 10px;
    width: 100%; /* Ensure button takes full width */
    text-align: center;
  }

  /* Ensure the table or analytics container does not overflow horizontally */
  .table-container,
  .analytics-container {
    overflow-x: auto; /* Enable horizontal scroll if needed */
  }

  /* Adjust footer to full width */
  .footer {
    width: 100%;
  }
}
